.HeaderStyling{
    text-align: center;
    margin-top: 20px;
    font-size: calc(7vw + 2rem);
    font-weight: 900;
    font-family:"Lobster", serif;
    color: rgba(0, 0, 0, 0.1);
    letter-spacing: 2px;
    margin: -0.3em 1.5 0.5em;
}

.title {
    grid-area: header;
    text-align: center;
    font-size: calc(7vw + 2rem);
    font-weight: 900;
    font-family:"Lobster", serif;
    color: rgba(0, 0, 0, 0.1);
    letter-spacing: 2px;
    margin: 30px 0px 80px;
    margin-bottom: 200px;
  }
  
  .sub-title {
    grid-area: header1;
    text-align:center;
    font-size: calc(0.0003vw + 1rem);
    font-weight: 900;
    font-family:"";
    color: rgba(0, 0, 0, 0.3);
    letter-spacing: 2px;
    margin: -210px;
    margin-bottom: 40px;
    
  }